.top {
	padding: 165px 0 175px;
	background-image: url('../img/jumbotron.jpg');
	background-position: 70% 30%;
	background-repeat: no-repeat;

}


#contact {
	
	background: url('../img/bg-1.jpg') no-repeat center;
	background-size: cover;	
	width: 100%; 
	height: 95vh;	
 	color: #fff;
 	
}
#contact p{
	padding-left: 10px;
}
#contact a {

	color: #fff;
}

#contact a:hover {

	font-weight: 500;
}

* {
	scroll-behavior: smooth;
}
.contact-h h2 {
	color: #fff;
	padding-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px #000000;
}

#realisation{
	background: url('../img/bg-2.jpeg') no-repeat center;
	background-size: cover;	
	width: 100%; 	
 	background-position: 100% 50%;
 	color: #fff;

}
.margin-for-nav {
	padding-top: 4rem; 
	

}



.copyright {
	background: #252726;
	color: #fff;
	text-align: center;
	padding: 6px; 0;
	
	}
 #slider img{
	width: 90%;
 	height: auto;
 	margin: 0 auto;	
}


#slider h5{
	display: block;
	margin-left: 60px;

}

 #navi{
	background: #fff;
}

.flex-container {
	display: flex;

}
.flex-grow-4 {
	flex-grow: 4;
}
.flex-grow-8 {
	flex-grow: 8;
}
.padding-50 {

	padding-top: 90px;
}
.padding-50-bottom {

	padding-bottom: 50px;
}
.tlo-opis {
	color: rgba(000,000,000,0.5);
    filter: alpha(opacity=50);
    color: black;

}

#production {
	padding-top: 90px;
	height: 100vh;
}